<div class="site-wrapper-inner" id="home-content" style="background: rgba(0, 0, 0, 0.541176);">

    <div id="home-text-wrapper"
         style="margin-top: 20px; padding: 15px 0px; background-color: rgba(0, 0, 0, 0.498039);">

        <div id="home-text">
            <h1 class="cover-heading" id="cover-heading" style="font-family: Tahoma, Allerta, 'Source Sans Pro', Arial, 'Josefin Sans'; font-size: 7rem; font-weight: 100; letter-spacing: -3.6px;">
                REALTIME SENTIMENT METRICS
            </h1>

            <form>
                <div class="form-group">
                    <label for="inputlg"><p class="lead" style="font-weight: bold; width: 100%; text-align: center">Find out below:</p></label>
                    <input class="form-control input-lg text-center" id="inputlg" type="text" placeholder="Company Name" ng-model="vm.companyName">
                </div>
                <p class="lead">
                    <button class="btn btn-lg btn-primary" ng-click="vm.submit()">
                        Search
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>