<div class="site-wrapper-inner" id="home-content" style="background: rgba(0, 0, 0, 0.541176);">

    <div id="home-text-wrapper"
         style="margin-top: 20px; padding: 15px 0px; background-color: rgba(0, 0, 0, 0.498039);">

        <div id="home-text">
            <h1 class="cover-heading" id="cover-heading"
                style="font-family: Tahoma, Allerta, 'Source Sans Pro', Arial, 'Josefin Sans'; font-size: 7rem; font-weight: 100; letter-spacing: -3.6px;">
                Delightful. Knowledgeable. Aggressive.</h1>

            <p class="lead" style="font-weight: bold;">Enter your keyword below:</p>

            <div class="form-group">
                <label for="inputlg">input-lg</label>
                <input class="form-control input-lg" id="inputlg" type="text">
            </div>
            <p class="lead">
                <a href="index.html" class="btn btn-lg btn-default"
                   style="background-color: rgb(42, 62, 132);">Get started</a>
            </p>
        </div>
    </div>
</div>